/* General */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato' !important;
}

@font-face {
    src: url(../font/VictogramsDemo.ttf);
    font-family: 'bloom';
}

/* Navbar */
.navbar {
    padding: 0px 140px !important;
    margin-top: 45px !important;
}

.navbar-brand img {
    width: 122px;
    height: 58px;
}

.navbar-brand {
    font-size: 52px !important;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-brand span {
    color: #9bc0ff !important;
}

.navbar-nav a {
    font-size: 32px;
    color: #ffffff !important;
    font-weight: bold;
    margin-left: 15px;
}

.navbar-nav .home:hover::after,
.navbar-nav .about:hover::after,
.navbar-nav .contact:hover::after {
    content: "";
    display: block;
    border-bottom: solid 2px #ffffff;
    width: 30%;
    margin: auto;
}

.navbar-nav button {
    background-color: #ffffff !important;
    color: #3693d6 !important;
    border-color: none;
    border-radius: 30px;
    padding: 0px 40px;
    height: 60px;
    font-weight: bold;
    transition: all 0.1s linear;
}

.navbar-nav button:hover {
    background-color: #3693d6 !important;
    color: #ffffff !important;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    width: 100%;
    height: 1076px;
    margin-top: 0px;
    padding-top: 0px !important;
    text-align: center;
    margin-bottom: 0px;
    overflow: hidden !important;
}

.jumbotron h1 {
    margin-top: 237px;
    text-align: center;
    font-family: 'bloom';
    color: #ffffff;
    font-size: 175px;
    transform: rotateZ(-10deg);
    text-shadow: 0px 3px 6px #00000030;
}

.jumbotron button.work-btn {
    width: 235px;
    height: 67px;
    background-color: #3693d6;
    color: #ffffff !important;
    border-radius: 50px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 154px;
}

.jumbotron button.work-btn:hover {
    transform: rotateZ(10deg);
}

/* About Me */
.about-me {
    background-color: #3693d6;
    margin-top: -32px;
    height: 576px;
    box-sizing: border-box;
    text-align: center;
    padding: 105px 278px 0px 278px !important;
}

.about-me h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
}

.about-me p {
    font-size: 42px;
    color: #ffffff;
}

/* Our Work */
.wrap-work {
    padding: 0px 140px ;
    text-align: center;
}

.wrap-work .work {
    padding: 128px 0px 0px 0px !important;
}

.wrap-work .work #work-title {
    color: #3693d6;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 115px;
}

.house, .wolf, .snowboard, .people, .cross {
    padding: 8px !important;
}

.wrap-snowboard {
    position: relative;
    overflow: hidden;
}

.wrap-snowboard span {
    background-color: #3693d680;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 30%;
    padding-left: 160px;
    padding-right: 160px;
    opacity: 1;
    transform: translateY(1500px);
    transition: all 0.6s ease-in-out;
}

.wrap-snowboard:hover span {
    transform: translateY(0);
    opacity: 1;
}

.wrap-snowboard h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrap-snowboard span p {
    font-size: 32px;
    color: #ffffff;
}

.wrap-snowboard span button {
    font-size: 32px;
    background-color: #ffffff00;
    border-color: #ffffff;
    color: #ffffff;
    border-radius: 30px;
    padding: 0px 40px;
    margin-top: 70px;
    transition: all 0.1s ease-in-out;
}

.wrap-snowboard span button:hover {
    transform: translateY(-2px);
}

/* Testimoni */
.wrap-testi {
    text-align: center;
    padding: 0px 140px;
    margin-bottom: 127px;
}

.wrap-testi .testi {
    padding-top: 120px;
}

.wrap-testi .testi #judul-testi {
    color: #3693d6;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 50px;
}

.wrap-testi #carouselExampleIndicators {
    text-align: center !important;
}

.carousel-item .wrap-quote {
    padding-left: 250px !important;
    padding-right: 250px !important;
    margin-top: 25px;
}

.carousel-item .wrap-quote .paragraph {
    position: relative;
    padding: 20px 40px;
}

.carousel-item .wrap-quote .paragraph .first {
    position: absolute !important;
    top: 0;
    left: 0;
    color: #3693d6;
    font-size: 35px !important;
}

.carousel-item .wrap-quote .paragraph .last {
    position: absolute !important;
    bottom: 0;
    right: 0;
    color: #3693d6;
    font-size: 35px !important;
}

.carousel-item .wrap-quote h2 {
    color: #3693d6;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
}

.carousel-item .wrap-quote p {
    font-size: 32px;
    color: #3693d6;
    margin-top: 35px;
}

.wrap-testi .carousel-inner img {
    display: inline-block !important;
    width: 265px !important;
    height: 265px;
}

.carousel-control-prev .previous, 
.carousel-control-next .nexto {
    color: #3693d6 !important;
    font-size: 64px !important;
}

/* Footer */
.wrap-footer {
    background-color: #3693d6;
    padding: 87px 208px 10px 208px;
    text-align: center;
}

.footer .col_fl {
    text-align: center;
    padding-top: 19px;
}

.footer .col_fl a {
    text-decoration: none;
    color: #ffffff;
    font-size: 37px;
    font-weight: bold;
}

.footer .col_fl a span {
    color: #9bc0ff;
}

.footer .location,
.footer .email,
.footer .phone {
    text-align: left !important;
    padding-left: 41px !important;
}

.footer .location h3,
.footer .email h3,
.footer .phone h3 {
    font-size: 32px;
    color: #ffffff;
    font-weight: bold;
}

.footer .location p,
.footer .email p,
.footer .phone p {
    font-size: 22px;
    color: #ffffff;
}

.footer .icons {
    text-align: center;
    padding-top: 39px;
}

.footer .icons a {
    font-size: 3em;
    margin-left: 25px;
    margin-right: 25px;
    color: #ffffff;
    transition: all 0.1s ease-in-out;
    display: inline-block;
}

.footer .icons a:hover {
    text-decoration: none;
    transform: translateY(-3px);
}

.wrap-footer #copyright {
    margin-top: 160px;
    margin-bottom: 0px;
    font-size: 1.3em;
}

.wrap-footer #copyright a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}