/* General */
body {
    font-family: 'Lato' !important;
}

@font-face {
    src: url(../font/VictogramsDemo.ttf);
    font-family: 'bloom';
}
/* Navbar */
.navbar {
    padding: 45px 140px !important;
    z-index: 99;
}

.navbar-brand img {
    width: 122px;
    height: 58px;
}

.navbar-brand {
    font-size: 52px !important;
    font-weight: bold;
    color: #ffffff !important;
}

.navbar-brand span {
    color: #9bc0ff;
}

.navbar-nav a {
    font-size: 32px;
    font-weight: bold;
    margin-right: 20px;
    color: #ffffff !important;
}

.navbar-nav a.home:hover::after,
.navbar-nav a.about:hover::after,
.navbar-nav a.contact:hover::after {
    content: "";
    display: block;
    border-bottom: 2px solid #ffffff;
    width: 40%;
    margin: auto;
}

.navbar-nav a button {
    background-color: #ffffff;
    color: #3693d6 !important;
    border-radius: 30px;
    font-weight: bold;
    padding: 0px 32px !important;
    transition: all 0.1s ease-in-out;
}

.navbar-nav a:hover button {
    background-color: #3693d6;
    color: #ffffff !important;
}

/* Jumbotron */
.jumbotron {
    background-image: url(../img/jumbotron.png);
    background-size: cover;
    width: 100%;
    height: 1076px;
    margin-top: -178px;
    text-align: center;
    margin-bottom: 0px;
}

.jumbotron h1 {
    margin-top: 272px;
    text-align: center;
    font-family: 'bloom';
    color: #ffffff;
    font-size: 175px;
    transform: rotateZ(-10deg);
    text-shadow: 0px 3px 6px #00000030;
}

.jumbotron button {
    width: 235px;
    height: 67px;
    background-color: #3693d6;
    color: #ffffff !important;
    border-radius: 50px;
    font-size: 32px;
    font-weight: bold;
    margin-top: 184px;
}

.jumbotron button:hover {
    transform: rotateZ(10deg);
}

/* About Me */
.about-me {
    background-color: #3693d6;
    margin-top: -32px;
    height: 576px;
    box-sizing: border-box;
    text-align: center;
    padding: 105px 278px 0px 278px !important;
}

.about-me h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
}

.about-me p {
    font-size: 42px;
    color: #ffffff;
}

/* Our Work */
.wrap-work {
    padding: 0px 140px ;
    text-align: center;
}

.wrap-work .work {
    padding: 128px 0px 0px 0px !important;
}

.wrap-work .work #work-title {
    color: #3693d6;
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 115px;
}

.house, .wolf, .snowboard, .people, .cross {
    padding: 8px !important;
}

.wrap-snowboard {
    position: relative;
    overflow: hidden;
}

.wrap-snowboard span {
    background-color: #3693d680;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 400px;
    padding-left: 160px;
    padding-right: 160px;
    opacity: 0;
    transform: translateY(1000px);
    transition: all 0.7s ease-in-out;
}

.wrap-snowboard:hover span {
    transform: translateY(0);
    opacity: 1;
}

.wrap-snowboard h2 {
    font-size: 52px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 20px;
}

.wrap-snowboard span p {
    font-size: 32px;
    color: #ffffff;
}

/* Testimoni */
.wrap-testi {
    text-align: center;
    padding: 0px 140px;
}

.wrap-testi .testi {
    background-color: red;
    padding-top: 120px;
}

.wrap-testi .testi h2 {
    color: #3693d6;
    font-weight: bold;
    font-size: 52px;
    margin-bottom: 40px;
}

.wrap-testi .gambar-testi img {
    margin-bottom: 34px;
}

.wrap-testi .gambar-testi p {
    font-size: 42px;
    color: #3693d6;
}

.wrap-testi .gambar-testi {
    background-color: blue;
    padding-left: 414px;
    padding-right: 414px;
}

.wrap-testi .gambar-testi blockquote {
    font-size: 32px;
    color: #3693d6;
}
