@media (max-width: 1368px) {
    /* Navbar */
    .navbar {
        padding: 35px 50px !important;
    }

    .navbar-brand {
        font-size: 32px !important;
    }

    .navbar-brand img {
        width: 100px;
        height: 40px;
    }

    .navbar-nav a {
        font-size: 22px;
    }

    /* Jumbotron */
    .jumbotron {
        height: 720px;
    }

    .jumbotron h1 {
        font-size: 125px;
        margin-top: 190px;
    }

    .jumbotron button {
        font-size: 22px;
        width: 180px;
        height: 50px;
        margin-top: 60px;
    }
}